@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Frutiger_bold';
    src:  url('font/Frutiger_bold.woff') format('woff'); 
}
@font-face {
    font-family: 'Frutiger';
    src:  url('font/Frutiger.woff') format('woff');
}


 header{
    background-image: url(https://www.lavelodyssee.com/sites/velodyssee/files/styles/slide_1920x1080/public/medias/images/48858141243_f29f120125_6k%2520%25281%2529_1.webp?h=e5aec6c8&itok=xEd6aDOY);
    background-repeat: no-repeat;
    background-size: cover;
    
   
} 
header .lastHeaderChild1 a{
    font-family:'Frutiger_bold' ;
}

header .firstHeader{
   
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    
}
header .firstHeaderChild1{
    display: flex;
    align-items: center;
    flex: 0.34;
    justify-content: space-between;
    font-family: 'Frutiger';
    color: white;
    
    margin-left: 1%;
    font-size: 1rem;
    
}
header .firstHeaderChild2{
    display: flex;
    align-items: center;
    flex: 0.26;
    justify-content: space-between;
  
    margin-right: 1%;
    margin-left: 1%;
    color: white;
    font-family:'Frutiger_bold'
}
header .carnet{
    display: flex;
    align-items: center;
    flex: 0.4;
    justify-content: space-around;
}
header .espacePersonnel{
    margin-bottom: 0%;
    display: flex;
    align-items: center;
    flex: 0.4;
    justify-content: space-around;  
}
header .logo{
    height: 50px;
    }
    header .lastHeader a{
        text-transform: uppercase;
    }
    header a{
        text-decoration: none;
    }

    header .lastHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .lastHeaderChild1{
        display: flex;
        align-items: center;
        flex: 0.69;
        justify-content: space-around;
        margin:0.65% 0.5%;
    }
    header .lastHeaderChild2{
        margin-right: 1%;
    }
    header .lastHeader{
        background-color: rgb(249, 249, 249);
    }
    header input{
        background-color:transparent ;
        border: none;
       
    }
    header button{
        border: none;
        background-color:#07756d;
        padding: 10px;
    }
 
    header .pp{
    margin: 0;
  }
 
  header .actualités{
    color:#ea5a58 ;
  }
  header .passeport{
    color:#09786f ;
  }
  header .submit{
    color: white;
  }
  header .title-h1 {
     color: white; 
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
  }
  header .title-h2{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
  }
  header .title-container{
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translateX(-50%);
  }
  header .title{
   position: relative;
   text-align: center;
   
  }
 
  header .FORM2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
  }

  header .depart{
    margin: 1.5% 1% 0 4%;
    padding: 0.7% 3.0% 0.7% 0.5%;
    background-color: white;
    border-radius:5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: none;
  }
  header .departe{
    margin: 1.5% 1.5% 0 0.5%;
    padding: 0.7% 3% 0.7% 0.9%;
    background-color: white;
    border-radius:5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: none;
  }
  header .calcule{
    
    margin-top: 1.5%;
    margin-right: 4.0%;
  }
  header .submit2 {
    border-radius: 5px;
    padding: 13px 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
  header .circle1{
    color: green;
  }
  header .circle2{
    color: red;
  }
header{
  width: 100%;
  height: 100vh;
}
.img{
  height: 50%;
}



















@media (max-width:400px){
  header .firstHeader{
    display: none;
  }

.ip1, .ip3{
  display: none;
}


.nonetel{
  display: none;
}
.hh, .phh{
  margin-left: 0%;
  
}
.imgs{
 padding: 0%;
 margin: 0%;
 /* width: 0%; */
}
.img{
  height: 30%;
}
.depart , .departe{
  display: none;
}
header .lastHeader{
  padding-bottom: 3%;
  position: relative;
}
header .lastHeaderChild1 ,header .lastHeaderChild2{
  margin-top: 5%;
}


header .lastHeaderChild2{
  margin-right: 15%;
  font-size: 25px;
  color: green;
}

header{
  background-image: url(https://www.lavelodyssee.com/sites/velodyssee/files/styles/slide_1920x1080/public/medias/images/48858141243_f29f120125_6k%2520%25281%2529_1.webp?h=e5aec6c8&itok=xEd6aDOY);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y:90px ;
  width:50vh;
  height: 65vh;
  background-size: 470px 380px;
  
  
} 
header .title-h1 {

  width: 150%;
  font-size: 35px;
  margin: 0%;
}

header .title-h2{
  width: 150%;
  font-size: 35px;
  margin: 0%;
}
header .title-container{
  position: absolute;
  top: 20vh;
  left: 35%;
  transform: translateX(-50%);
}
header .submit{
  font-size: 14px;
  width: 119%;
  margin-left: 15%;
 
}
.calcule .submit2{
  margin-left: 17%;
}
}

