.leaflet-div-icon {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

div#map {
    width: 50vw;
    height: 80vh;
    margin: auto;
}

div.map-marker {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid #F59C00;
    background-color: white;
}

div.map-marker:hover {
    border-color: #2f9f48;
}

div.waypoint {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid #0000ff;
    background-color: white;
}