

.conteneur{
    display: grid;
    flex-wrap: wrap;
    margin-top: 30%;
    
    /* margin-bottom: 15%; */
    /* margin-left:  -15px;
    margin-right: -15px; */
}


.titre{
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: ; */
    font-weight: 300;
    font-size: 2.625rem;
    /* margin-left: 30%;
    margin-top: 10%; */
    
    
}

.sous_titre{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
    color: #585858;
    line-height: 1.5em;
    /* margin-top: 5%; */
    margin-bottom: 10%;
    /* margin-left: 35%; */
    /* font-family: ; */
    font-weight: 500;
}

.box{
    height: 300px; 
    
}



/* .text_effet{
    transition: all .2s ease-out;
    bottom: 40px;
    padding: 0 40px;
    
}

.text_effet{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    z-index: 6;
}

.text_effet h3 {
    margin: 0;
    font-family: "Mukta Mahee",sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 201.5rem;
    line-height: 201em;
}

div .text_effet a{
    color: inherit;
    text-decoration: none;
} */

.image_des_cartes{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 100%;
}

.image_effet:hover{
   
    filter: blur(6px);
    transform: scale(1);
    transition: all .2s ease-out;
    background: linear-gradient(to top,#000,rgba(0,0,0,0) 100%)
}



.carte_la_douceur_de_atlantique{
    /* width: 100%;
    max-width: 1200px; */
    position: absolute;
    display: grid;
    margin-left: 12.5%;
    margin-top: 0%;
    /* margin-bottom: 100%; */
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    gap: 30px;
    row-gap: 30px;
}


.logo_coeur{
    position: absolute;
    width: 13%;
    height: auto;
    margin-top: 0.3%;
    margin-left: 26%;

}

.titre_des_cartes {
    position: absolute;
    display: grid;
    margin-top: 23%;
    margin-left: 4%;
    text-align: center;
    font-family: "Mukta Mahee",sans-serif;
    font-weight: 600;
    color: white;
    font-size: 1.2rem;
    line-height: 1em;
}
.texte_des_cartes{
    color: white;
}


.sous_titre_text {
    position: absolute;
    display: grid;
    margin-top: 26.5%;
    margin-left: 3%;
    text-align: center;
    font-family: "Mukta Mahee",sans-serif;
    font-weight: 600;
    color: white;
    font-size: 90%;
    line-height: 1em;
}

div span{
    position: absolute;
    text-decoration: solid;
    display: inline-block;
    text-align: center;
    display: grid;
    margin-top: 1%;
    margin-left: 16%;
    padding: 0.5%;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-weight: 600;
    max-width: 70%;
    transform: translate(-50%,0);
    overflow: hidden;
    z-index: 6;

}

div span{
    display: inline-block;
}




/* .image_effet{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to top,#000,rgba(0,0,0,0) 100%);
    opacity: .2;
} */

@media screen and (max-width: 1200px){
    .titre{
        text-align: center;
        
        /* font-family: ; */
        font-weight: 300;
        font-size: 1.625rem;
        /* margin-left: 30%;
        margin-top: 10%; */
    }

    .sous_titre{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 90%;
        color: #585858;
        line-height: 1.5em;
        /* margin-top: 5%; */
        margin-bottom: 10%;
        /* margin-left: 35%; */
        /* font-family: ; */
        font-weight: 500;
    }

    .carte_la_douceur_de_atlantique{
        margin-top: 0%;
        display: flex;
        flex-direction: column;
    }

    .titre_des_cartes{
        text-align: center;
        display: grid;
        margin-top: 75%;
        margin-left: 12%;
        /* margin-bottom: 10%; */
    }

    .sous_titre_text{
        display: none;
    }

    div span {
        margin-left: 50%;
    }

    /* .box{
        flex-direction: column;
    } */
}
