
.titre{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2.625rem;
    
}

.sous_titre{
    font-size: 110%;
    text-align: center;
    color: #585858;
    line-height: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Mukta Mahee",sans-serif;
    font-weight: 500;
}

.box{
    height: 300px; 
    
}

img{
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin-bottom: 100%;
}

.image_effet:hover{
    filter: blur(6px);
    transform: scale(1);
    transition: all .2s ease-out;
    background: linear-gradient(to top,#000,rgba(0,0,0,0) 100%)
}

.carte_la_douceur_de_atlantique{
   position: absolute;
    display: grid;
    margin-left: 17%;
    margin-top: 4%;
    margin-bottom: 100%;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px 400px;
    gap: 30px;
    row-gap: 30px;
}

.logo_coeur{
    position: absolute;
    width: 13%;
    height: auto;
    margin-top: 0.3%;
    margin-left: 26%;

}

h3 {

    position: absolute;
    display: grid;
    margin-top: 24%;
    margin-left: 4%;
    text-align: center;
    font-family: "Mukta Mahee",sans-serif;
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
    line-height: 1em;

}

p {
    position: absolute;
    display: grid;
    margin-top: 27.5%;
    margin-left: 4%;
    text-align: center;
    font-family: "Mukta Mahee",sans-serif;
    font-weight: 600;
    color: white;
    font-size: 90%;
    line-height: 1em;
}

span{
    position: absolute;
    text-decoration: solid;
    display: inline-block;
    text-align: center;
    display: grid;
    margin-top: 1%;
    margin-left: 16%;
    padding: 0.5%;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-weight: 600;
    max-width: 70%;
    transform: translate(-50%,0);
    overflow: hidden;
    z-index: 6;
    
}

div span{
    display: inline-block;
}




/* .image_effet{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to top,#000,rgba(0,0,0,0) 100%);
    opacity: .2;
} */


