body #PedalezSelonVosEnvies .VosEnvies {
  background: #fff;
  padding: 10px 15px;
  margin: 10px 2px;
  border-radius: 5px;
  font-family: "Mukta Mahee", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  border: none;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}
#Pedalez {
  display: flex;
  gap: 150px;
}
#Pedalez .carte {
  border-radius: 5%;
}
#PedalezSelonVosEnvies {
  background: #007c74;
  display: block;
  box-sizing: border-box;
  padding: 30px;
  margin: 40px 0 0 0;
  width: 330px;
  height: 500px;
  border-radius: 2px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.TrouverParcours {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  margin: 10px 2px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #231f20;
  position: relative;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
#PedalezSelonVosEnvies h3 {
  margin: 0;
  font-size: 1.5rem;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #fff;
  text-align: center;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


#PedalezSelonVosEnvies{
margin-left: 25%;
margin-top: 25%;
}

.teext{
  position: relative;
  bottom: 450px;
}
@media screen and (max-width: 400px) {
  #Pedalez .carte {
    display: none;
  }
  #PedalezSelonVosEnvies {
    margin: 20px;
  }
}
