* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row h2 {
  margin-left: 10%;
  display: block;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Poppins";
}
#TrouverMonAccueil {
  margin-top: 50px;
  margin-bottom: 50px;
}
#TrouverMonAccueil .logoVert {
  position: absolute;
  width: 22px;
  height: 32px;
  /* margin-left: %; */
  margin-top: 2%;
}
.row p {
  margin-left: 6%;
}
img.Hide {
  display: none;
}
.Item {
  padding: 15px;
}
#TrouverMonAccueil .Item a {
  display: block;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

#TrouverMonAccueil .Item a::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
#TrouverMonAccueil .Item a span.Hote {
  position: absolute;
  z-index: 10;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translate(0, -50%);
  color: #fff;
  font-family: "Mukta Mahee", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
}
#TrouverMonAccueil .Item a:hover img {
  filter: blur(5px);
}
@media screen and (max-width: 400px) {
  #TrouverMonAccueil {
    width: 100%;
  }
  #TrouverMonAccueil .logoVert {
    display: block;
    width: 22px;
    height: 32px;
    margin: auto;
    margin-top: 30px;
    position: relative;
  }
  img.Background {
    display: none;
  }
  .row {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .row h2 {
    margin-left: 0;
    display: flex;
    font-size: 1.75rem;
    font-weight: 300;
    text-align: center;
    flex-direction: column;
    font-family: "Poppins";
  }
  .row p {
    margin-left: 0;
    text-align: center;
  }

  .Item {
    height: 15vh;
    padding: 15px;
  }
  #TrouverMonAccueil .Item a {
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    height: 15vh;
    width: 100%;
  }
  #TrouverMonAccueil .Item a::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 15vh;
    background: #000;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }
  #TrouverMonAccueil .Item a img.Hide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
