.Titre {
  display: flex;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

h2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url(images/Trouver_Mon_Acceuil/sprite.png);
  background-position: -168px -18px;
  width: 22px;
  height: 32px;
}
span {
  z-index: 4;
  top: 50%;
  width: 100%;
  text-align: center;
  position: absolute;
}
.row .Item {
  position: relative;
  padding: 1%;
}
.row .Item a:before {
  content: "";
  position: absolute
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
